v	TString	fOutputDir	fakeHistos/ETH/corrected_tot/noPUweight/Mu17/
v	float	fLuminosity	8.1
v	bool	fJetCorrection	1
v	float	fJetPtCut	40.0
v	float	fLepPtCut	20.0
v	float	fLepD0Cut	0.005
v	float	fLepIsoCut	0.05
v	float	fAwayJetBTagCut	-1
v	float	fAwayJetDPhiCut	-1
v	bool	fPUweight	0
v	TString	fLepTrigger	Mu17
v	bool	fLepTriggerMC	0
