v	TString	fOutputDir	fakeHistos/ETH/uncorrected/noPUweight/none/
v	float	fLuminosity	7274.0
v	bool	fJetCorrection	0
v	float	fJetPtCut	40.0
v	float	fLepPtCut	20.0
v	float	fLepD0Cut	-1
v	float	fLepIsoCut	-1
v	float	fAwayJetBTagCut	-1
v	float	fAwayJetDPhiCut	-1
v	bool	fPUweight	0
v	TString	fLepTrigger	none
v	bool	fLepTriggerMC	0
