v	TString	fOutputDir	fakeHistos/ETH_corrected_jet_PUweight_runD_Ele8JMC/
v	float	fLuminosity	8.1
v	bool	fJetCorrection	1
v	float	fJetPtCut	40.0
v	float	fLepPtCut	20.0
v	float	fLepD0Cut	-1
v	float	fLepIsoCut	-1
v	float	fAwayJetBTagCut	-1
v	float	fAwayJetDPhiCut	-1
v	bool	fPUweight	1
v	TString	fLepTrigger	Ele8J
v	bool	fLepTriggerMC	1
