v	TString	fOutputDir	fakeHistos/ETH_corrected_jet_PUweight_runD_Mu24/
v	float	fLuminosity	36.4
v	bool	fJetCorrection	1
v	float	fJetPtCut	40.0
v	float	fLepPtCut	24.0
v	float	fLepD0Cut	-1
v	float	fLepIsoCut	-1
v	float	fAwayJetBTagCut	-1
v	float	fAwayJetDPhiCut	-1
v	bool	fPUweight	1
v	TString	fLepTrigger	Mu24
v	bool	fLepTriggerMC	0
